.hero-sec {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-hero {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.hero {
    padding: .2em .5em;
    width: 100%;
    margin-top: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}

.hero-txt {
    width: min(55em, 60%);
}

.hero-title {
    font-size: clamp(2rem, 4vw + 2rem, 4rem);
    font-family: var(--font-display);
    font-weight: 600;
    line-height: 1.8em;
}

.span {
    display: inline-block;
    padding: 0 .6em;
    border-radius: 100px;
    margin: .15em .1em;
    font-family: var(--font-display);
}

.span1 {
    position: relative;
    background-color: #cfbaf0;
}

.herogirl {
    position: absolute;
    width: 10em;
    right: -96%;
    top: -11%;
    z-index: 10;
}

.span2 {
    transform: rotate(2deg) translate(0);
    background-color: #f8ad9d;
    transition: transform .12s ease-in-out;
}

.span2:hover {
    transform: rotate(-2deg) translate(0);
}

.spin {
    font-size: clamp(2rem, 1vw + 1rem, 4rem);
    padding: 0.5em;
    margin-right: 0.4em;
    display: inline-block;
    border-radius: 100%;
    background-color: #b9fbc0;
}

.marquee {
    height: 20em;
}

.marquee1 {
    font-size: clamp(2rem, 2em + 1rem, 4rem);
    background-color: #cfbaf0;
    transform: rotate(2deg);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.marquee2 {
    font-size: clamp(2rem, 2em + 1rem, 4rem);
    background-color: #f8ad9d;
    transform: rotate(-2deg);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

@media screen and (max-width: 767px) {
    .hero-txt {
        width: 80%;
    }

    .hero {
        margin-top: 8em;
        margin-bottom: 1em;
    }

    .span {
        margin: .01em .2em;
    }

    .hero-sec {
        padding: 0.5em 1em;
    }
}

@media screen and (max-width: 420px) {
    .hero-txt {
        width: 100%;
    }

    .hero {
        margin-top: 4em;
        margin-bottom: 1em;
    }

    .span1 {
        margin-left: 0.2em;
    }

}