.horizontal-scroll-container {
    width: 100vw;
    height: 100vh;
}

.containt-scroll{
    height: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-text{
    margin-left: 30em;
    font-size: 44vh;
    font-weight: 700;
    font-family: var(--font-display);
}